html, body {
  font-family: $font-family;
  margin: 0;
  line-height: $line-height;
  min-height: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  color: #337ab7;
  text-decoration: none;
  cursor: pointer;

  &:hover, &:focus {
    color: #23527c;
    border-bottom: 1px solid #23527c;
  }
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

// Normalize third party CSS

.fa-plus-square-o {
  vertical-align: middle;
}

.CodeMirror {
  height: 100vh;
}
